{% extends "base.html" %}

{% block head %}
<style>

    main {
        display: flex;
        justify-content: center;
    }

    .options {
        display: grid;
        grid-template-columns: 200px 200px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;

    }

    .options > div {
        margin: 0.5rem 1rem 0.5rem 1rem;
        display: flex;
        align-items: center;

    }

    .options > div > input {
        border-radius: 0.25rem;
        padding: 0.5rem 0rem 0.5rem 0.75rem;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        font-size: 100%;
    }

    .options > div > label {

    }

    .button {
        grid-column-start: span 2;
        display: flex;
        justify-content: center;
    }




</style>
{% endblock %}

{% block body %}

<form action="/account/change-password" method="POST" >
    {{ form.hidden_tag() }}
    <main>
        <div class="options">
            <div>
                {{ form.current_password.label() }}
            </div>
            <div>
                {{ form.current_password() }}
            </div>

            <div>
                {{ form.new_password.label() }}
            </div>
            <div>
                {{ form.new_password() }}
            </div>

            <div>
                {{ form.new_confirm_password.label() }}
            </div>
            <div>
                {{ form.new_confirm_password() }}
            </div>
            <div class="button">
                <button type="submit" class="button">Change Password</button>
            </div>


        </div>
    </main>
</form>

<div>
    <ul class="messages">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <li class="messages-{{category}}">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}